---
import { getCollection } from "astro:content"
import RootLayout from "../layouts/RootLayout.astro"
import useFormattedDate from "../hooks/useFormattedDate"

const posts = await getCollection("posts")
---

<RootLayout title='Retro Rocket 🚀'>
  <ul class='mt-12 space-y-10'>
    {
      posts.map((post) => (
        <li class=' group hover:bg-orange-100/50 rounded-xl'>
          <a href={`/posts/${post.slug}/`} class='w-fit h-fit space-y-1'>
            <div class='py-4 px-5'>
              <span class='text-xs text-gray-400 uppercase'>
                {post.data.category}
              </span>
              <h2 class='text-xl font-semibold text-gray-800 group-hover:text-orange-500'>
                {post.data.title}
              </h2>
              <p class='text-sm text-gray-500 line-clamp-3 group-hover:text-gray-800'>
                {post.data.summary}
              </p>
              <div class='flex items-center gap-2 text-xs text-gray-400 '>
                <span>{useFormattedDate(new Date(post.data.pubDate))}</span>
                <p>·</p>
                <span>{post.data.readingDuration} min</span>
              </div>
            </div>
          </a>
        </li>
      ))
    }
  </ul>
</RootLayout>
