---
import Button from "../../components/Button.astro"
import RootLayout from "../../layouts/RootLayout.astro"
import { getCollection, CollectionEntry } from "astro:content"

interface ProductProps {
  product: CollectionEntry<"product">
}

export async function getStaticPaths() {
  const productEntries = await getCollection("products")
  return productEntries.map((product) => ({
    params: { slug: product.id },
    props: { product },
  }))
}

const { product } = Astro.props as ProductProps
---

<RootLayout title='Starlight Store 🚀'>
  <section class='px-5 mt-12 grid grid-cols-1 sm:grid-cols-2 gap-4'>
    <div class='aspect-square overflow-hidden'>
      <img
        class='aspect-square object-contain object-center hover:scale-125 transition-all ease-in-out duration-500 delay-150'
        src={product.data.imageSrc}
        alt={`Image of the ${product.data.name}`}
      />
    </div>

    <div class=" space-y-6 sm:space-y-10">
      <div class='flex items-center justify-between'>
        <h1 class='text-base text-gray-700'>{product.data.name}</h1>
        <h2
          class='text-2xl text-gray-800 font-semibold group-hover:text-orange-500 transition-colors'
        >
          ${product.data.price}
        </h2>
      </div>

      <p class="text-sm text-balance text-gray-500">{product.data.description}</p>

      <Button>Add to cart</Button>
    </div>
  </section>
</RootLayout>
